<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/HcFY23KEBm3u1VjJ8"
  data-title="Build School Day 3"
  data-description="13 new items added to shared album">
  <object data="https://lh3.googleusercontent.com/fTTkC90b9aH1d__MyVxJpEr_EAMN-UrWj3Knt1ZzgCkl4xWIzyPs1icI7B-sLB8jWYrAp5YCLatOnND6FjYQCF2WDdEHwsPhUfsn4TXSePhiiYZhrlbet71j9Egjq2o_VT-3x_Bwu2M=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/sEB-i2DKk6t1HIeo-823vnel7nEGs-rPpvb__gX2AfMO2jmpPeocPoeJo8AFMp1AAKOLNtifUEchVqoXDV1luz1-A4gvxfzK7MgQMJCROkFCvGRZCNhmJ4NAeM-oddlYY8ChmuySYTk=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/bcb-ZBag6S0PUFRXPUjy7MKu2keNKbOSQHdC5romI1xRPNzS4Qkv6WPSNpcQBsO9Ph_t_M8EJkcZ_WQLwnE1uF3_vDyL8VL5cjsq-ISknPmGQRPy2WHYsSkdlJKyyA7i_zwND6mP_bk=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/saUDCN0kXKAzTflE35tg0LtdRtojXf45PoFNEOOroFVUwjaiDcYKU41fwLvgUXPB-DfmIV83JiQmd1Wvd1wr-PsMadabyzWFZq7j-JWf-ePGwPrduxlpNFIMZLaant5cfm8dZE9J7X0=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/qJSWwsX40jsW8FJBoPH-j4knFMf6Zi2-zh2x_glwEwg5U_8QyO7z1mlxMcfPLRg-L0Z4vLhud3R3dkz-y45k-P0VuSLeHJrlV1hnbXGZ9UjnVpyXaTbdF161TmVm8J0R-9pDsyzl-4Y=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Y4vpuLmKVbvscUQCBS_Ha19GJ2w5OqX499Xrl_sbUzajDdsf9dvvWd1rdBHh4-bY_SfKW_m_0J_IK4YbG3ZFqUa-Sz2oUhViMHBqcyx-sidmHfuEBR_jQ-xZI0u2qcaAgSN2S3JWmkE=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TshwZe-s53V1sj3TGfmFbHBfonLGe1X4GRqjrVwP5EuWpcoY0EBp5fBsPjPXFHwNFBgOnbjK0dQt-sAv9tXKIfoT1d6c0t72V3r-rp1ftuRVatWDCf7r9CsvkpMQ7HUUh3XI0uQSc0A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/KcR6n45eLZL0S1LGArBhPsNCFmbwcinhzCLoDqrHbXwGgQNFuLktxRrg1SFzoZDuVbB1cBdI9b-K2joWRBWJ2VmfvDLn83MXJgrywgsPIsSU1pKtLsoukMWvdbgtqQlC8ZWaWovXYRM=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/af7ls3Sj9ycz49xWsYRXtjO_owgBOFDJL74-Xp45U0kypucOwNXs_2g8VGT_MFrV-SAaO5ZEKhl-2XIFnH4nBXWiMP-OzaZukLLfRJdNq1zGbK-xAw_kKRDHo01XDkEHaECr5rElGrk=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rceK4yI5RvWc3BEEFHXY9sUyfcvBcW2SMr3MeviSp9QCitkFqT5itCcZ0kCRb6-R_j5E1dcH2TJWPkM3U6gHwKr7FTEwHtnGyX4gDM9vhq16HvJpKMeYbrPAx9yLrylaHBZLA7Eh6Y4=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/tHkQyQjk1-AKGbrexV1kKaHgqE6WiiTX2ahaCzx3uyP9Cmr1pOAli22sdPDlBbR9aoG_1rGut09oE9gWwTbDv5e3SBtG-Umy8HW6yfOA34KwfDAuF0lJIupLlBhhzs6srnVWmyq88oY=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/2hRxwV7q-kD5wiEEq1CR8YtfX_lIY-rPh-YTMSd5rSjDQ7NF4a2ED7XenvUz_0wcHZaACiKtmzy9BUhAVS5J4ggkaX0NYBj7wA750YH2WhuAKf0H8rB_toQObmacEJ6ymOXLzrVx8-g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/lp0TfrBm9xxHrQ9IY41krxy_Rc2sXlfPPKvbr3Zc4OdzMgEM1UIRqyT9TKPW3scCKhO-wu4_YTkqgM8UzBjtW-mocO5hzauXJ6sWosnc5OAaIRMtdgPpRH9BBK_U0m86sb0iy2kdnfo=w1920-h1080"></object>
</div>

